[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-database-url = "*"
django = "==5.1.2"
django-cors-headers = "*"
djangorestframework = "*"
python-decouple = "*"
rest-framework-simplejwt = "*"
djangorestframework-simplejwt = "*"
psycopg2 = "*"
gunicorn = "*"
django-rest-auth = "*"
django-allauth = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
